[submodule "libraries/magic_enum"]
	path = libraries/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "libraries/pybind11"]
	path = libraries/pybind11
	url = https://github.com/pybind/pybind11.git
